In [ ]:
import numpy as np
import pandas as pd
data = np.random.rand(4, 4)  # Generate random values
df = pd.DataFrame(data, columns=['Feature 1', 'Feature 2', 'Feature 3', 'Feature 4'])
df

   Feature 1  Feature 2  Feature 3  Feature 4
0   0.554500   0.601988   0.870382   0.912830
1   0.101853   0.326681   0.869678   0.949031
2   0.157562   0.150546   0.713453   0.559659
3   0.074542   0.302536   0.327623   0.265591

In [ ]:
df = df.rename(columns={'Feature 1': 'Random value 1',
                        'Feature 2': 'Random value 2',
                        'Feature 3': 'Random value 3',
                        'Feature 4': 'Random value 4'})
print(df)

   Random value 1  Random value 2  Random value 3  Random value 4
0        0.554500        0.601988        0.870382        0.912830
1        0.101853        0.326681        0.869678        0.949031
2        0.157562        0.150546        0.713453        0.559659
3        0.074542        0.302536        0.327623        0.265591

In [ ]:
df.describe()

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.222114        0.345438        0.695284        0.671778
std          0.224267        0.187966        0.255980        0.322766
min          0.074542        0.150546        0.327623        0.265591
25%          0.095026        0.264539        0.616996        0.486142
50%          0.129708        0.314608        0.791566        0.736245
75%          0.256796        0.395507        0.869854        0.921880
max          0.554500        0.601988        0.870382        0.949031

In [ ]:
null = df.isnull().sum()
print(null)

Random value 1    0
Random value 2    0
Random value 3    0
Random value 4    0
dtype: int64

In [ ]:
null_type = df.dtypes
print(null_type)

Random value 1    float64
Random value 2    float64
Random value 3    float64
Random value 4    float64
dtype: object

In [ ]:
random23l = df.loc[:, ['Random value 2', 'Random value 3']]
print(random23l)

   Random value 2  Random value 3
0        0.601988        0.870382
1        0.326681        0.869678
2        0.150546        0.713453
3        0.302536        0.327623

In [ ]:
random23il = df.iloc[:, [1, 2]]
print(random23il)

   Random value 2  Random value 3
0        0.601988        0.870382
1        0.326681        0.869678
2        0.150546        0.713453
3        0.302536        0.327623