In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import tensorflow as tf
from tensorflow import keras
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from keras import Sequential
from keras.layers import Dense

In [ ]:
df=pd.read_csv("/content/drug200.csv")
df

     Age Sex      BP Cholesterol  Na_to_K   Drug
0     23   F    HIGH        HIGH   25.355  DrugY
1     47   M     LOW        HIGH   13.093  drugC
2     47   M     LOW        HIGH   10.114  drugC
3     28   F  NORMAL        HIGH    7.798  drugX
4     61   F     LOW        HIGH   18.043  DrugY
..   ...  ..     ...         ...      ...    ...
195   56   F     LOW        HIGH   11.567  drugC
196   16   M     LOW        HIGH   12.006  drugC
197   52   M  NORMAL        HIGH    9.894  drugX
198   23   M  NORMAL      NORMAL   14.020  drugX
199   40   F     LOW      NORMAL   11.349  drugX

[200 rows x 6 columns]

In [ ]:
df.isnull().sum()

Age            0
Sex            0
BP             0
Cholesterol    0
Na_to_K        0
Drug           0
dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Age          200 non-null    int64
 1   Sex          200 non-null    object
 2   BP           200 non-null    object
 3   Cholesterol  200 non-null    object
 4   Na_to_K      200 non-null    float64
 5   Drug         200 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 9.5+ KB

In [ ]:
x = df.drop('Drug', axis=1)
y = df['Drug']

In [ ]:
le = LabelEncoder()
x['Sex'] = le.fit_transform(x['Sex'])
x['BP'] = le.fit_transform(x['BP'])
x['Cholesterol'] = le.fit_transform(x['Cholesterol'])
y = le.fit_transform(y)

In [ ]:
xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size=0.3, random_state=2)

In [ ]:
sc = StandardScaler()
xtrain = sc.fit_transform(xtrain)
xtest = sc.fit_transform(xtest)
ytrain = keras.utils.to_categorical(ytrain)
ytest = keras.utils.to_categorical(ytest)

In [ ]:
xtrain.shape, xtest.shape, ytrain.shape, ytest.shape

((140, 5), (60, 5), (140, 5), (60, 5))

In [ ]:
model=Sequential()
#Input layer
model.add(Dense(256,activation ='relu'))
#Three hidden layers
model.add(Dense(128,activation ='relu'))
model.add(Dense(64,activation ='relu'))
model.add(Dense(16,activation ='relu'))
#Output layer
model.add(Dense(5,activation ='softmax'))

In [ ]:
model.compile(optimizer='adam',loss='categorical_crossentropy', metrics=['accuracy'])

In [ ]:
model.fit(xtrain,ytrain,batch_size=6,epochs=25)

Epoch 1/25
24/24 [==============================] - 2s 4ms/step - loss: 1.3769 - accuracy: 0.5286
Epoch 2/25
24/24 [==============================] - 0s 3ms/step - loss: 0.7803 - accuracy: 0.7429
Epoch 3/25
24/24 [==============================] - 0s 3ms/step - loss: 0.4488 - accuracy: 0.8143
Epoch 4/25
24/24 [==============================] - 0s 3ms/step - loss: 0.2844 - accuracy: 0.8929
Epoch 5/25
24/24 [==============================] - 0s 3ms/step - loss: 0.2053 - accuracy: 0.9357
Epoch 6/25
24/24 [==============================] - 0s 3ms/step - loss: 0.1559 - accuracy: 0.9500
Epoch 7/25
24/24 [==============================] - 0s 4ms/step - loss: 0.1117 - accuracy: 0.9857
Epoch 8/25
24/24 [==============================] - 0s 3ms/step - loss: 0.0978 - accuracy: 0.9643
Epoch 9/25
24/24 [==============================] - 0s 3ms/step - loss: 0.0738 - accuracy: 0.9786
Epoch 10/25
24/24 [==============================] - 0s 3ms/step - loss: 0.0546 - accuracy: 0.9857
Epoch 11/25
24/24 [==============================] - 0s 3ms/step - loss: 0.0457 - accuracy: 0.9929
Epoch 12/25
24/24 [==============================] - 0s 3ms/step - loss: 0.0319 - accuracy: 1.0000
Epoch 13/25
24/24 [==============================] - 0s 3ms/step - loss: 0.0292 - accuracy: 0.9929
Epoch 14/25
24/24 [==============================] - 0s 3ms/step - loss: 0.0216 - accuracy: 0.9929
Epoch 15/25
24/24 [==============================] - 0s 3ms/step - loss: 0.0659 - accuracy: 0.9714
Epoch 16/25
24/24 [==============================] - 0s 3ms/step - loss: 0.0251 - accuracy: 1.0000
Epoch 17/25
24/24 [==============================] - 0s 3ms/step - loss: 0.0177 - accuracy: 1.0000
Epoch 18/25
24/24 [==============================] - 0s 3ms/step - loss: 0.0141 - accuracy: 1.0000
Epoch 19/25
24/24 [==============================] - 0s 3ms/step - loss: 0.0129 - accuracy: 1.0000
Epoch 20/25
24/24 [==============================] - 0s 3ms/step - loss: 0.0072 - accuracy: 1.0000
Epoch 21/25
24/24 [==============================] - 0s 3ms/step - loss: 0.0077 - accuracy: 1.0000
Epoch 22/25
24/24 [==============================] - 0s 3ms/step - loss: 0.0060 - accuracy: 1.0000
Epoch 23/25
24/24 [==============================] - 0s 3ms/step - loss: 0.0056 - accuracy: 1.0000
Epoch 24/25
24/24 [==============================] - 0s 3ms/step - loss: 0.0062 - accuracy: 1.0000
Epoch 25/25
24/24 [==============================] - 0s 3ms/step - loss: 0.0061 - accuracy: 1.0000

In [ ]:
#Testing the model with random data
random_data = np.array([[46, 1, 0, 1, 0.9]])

# Making predictions on the random data
predictions = model.predict(random_data)
predicted_class = le.inverse_transform(np.argmax(predictions, axis=1))
print(predicted_class)

1/1 [==============================] - 0s 106ms/step
['DrugY']